@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  background-color: #d9d9d9;
  max-width: 100vw;
  max-height: 150vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: sticky;
  width: 100%;
  height: 12vh;
  background-color: #93c47d;
  border: 2px solid black;
  font-family: Georgia, "Times New Roman", serif;
  text-decoration: italic;
}

.button.home {
  position: inherit;
  margin-top: 2vh;
  margin-left: 0.9%;
  display: inline-block;
  vertical-align: top;
  line-height: 9vh;
  width: 32%;
  height: 8vh;
  background-color: #cfe2f3;
  border: 2px solid black;
  font-family: "Noto Sans", Arial, sans-serif;
  text-align: center;
}

.button.selected.home {
  position: inherit;
  margin-top: 2vh;
  margin-left: 0.7%;
  display: inline-block;
  vertical-align: top;
  line-height: 9vh;
  width: 32%;
  height: 8vh;
  background-color: #9fc5e8;
  border: 2px solid black;
  font-family: "Noto Sans", Arial, sans-serif;
  text-align: center;
}

.button {
  position: inherit;
  margin-top: 2vh;
  margin-left: 0.9%;
  display: inline-block;
  vertical-align: top;
  line-height: 3vh;
  width: 32%;
  height: 8vh;
  background-color: #cfe2f3;
  border: 2px solid black;
  font-family: "Noto Sans", Arial, sans-serif;
  text-align: center;
}

.button.selected {
  position: inherit;
  margin-top: 2vh;
  margin-left: 0.7%;
  display: inline-block;
  vertical-align: top;
  line-height: 3vh;
  width: 32%;
  height: 8vh;
  background-color: #9fc5e8;
  border: 2px solid black;
  font-family: "Noto Sans", Arial, sans-serif;
  text-align: center;
}

.textbox {
  display: inline-block;
  margin: 12vh 0 0 49vh;
  width: 25%;
  height: 40vh;
  background-color: #93c47d;
  border: 2px solid black;
  font-family: "Noto Sans", Arial, sans-serif;
  vertical-align: top;
}

.image {
  display: inline-block;
  margin: 12vh 49vh 0 0;
  width: 25%;
  height: 40vh;
  border: 2px solid black;
  background-color: white;
  vertical-align: top;
}

img {
  height: 100%;

}

.image:hover {
  filter: blur(2px);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-5deg); }
  20% { transform: translate(-15px, 0px) rotate(5deg); }
  30% { transform: translate(15px, 10px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(5deg); }
  50% { transform: translate(-5px, 10px) rotate(-5deg); }
  60% { transform: translate(-15px, 5px) rotate(0deg); }
  70% { transform: translate(15px, 5px) rotate(-5deg); }
  80% { transform: translate(-5px, -5px) rotate(5deg); }
  90% { transform: translate(5px, 10px) rotate(0deg); }
  100% { transform: translate(5px, -10px) rotate(-5deg); }
}

.background-fade {
  left: 0px;
  margin-top: 105px;
  vertical-align: bottom;
  background: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 50%, #292929 100%);
  width: 2664px;
  height: 5vh;
  overflow: hidden;
}

.footer {
  bottom: 0%;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #292929 0%, #000 100%);
  color: white;
  font-family: "Noto Sans", Arial, sans-serif;
  padding-left: 6.25%;
  width: 2664px;
  height: 10vh;
}

.nav {
  text-decoration: none;
  color: black;
  font-family: "Noto Sans", Arial, sans-serif;
}
